.bet {
	padding-bottom: 40px;
	background-color: #223241;
	border-radius: 20px;
	width: 100%;
	height: 100%;
	font-size: 10pt;
	margin: 0 !important;
	overflow: hidden;
}
.bet__container {
	width: 100%;
	height: 100%;
	position: relative;
}
.bet__selected {
	border: solid 2px #ff3d3d;
}
.bet_item_title {
	color: white;
	font-size: 12px;
	margin: 10px 0 0 0;
	cursor: pointer;
}
.bet_item_value {
	color: grey;
	font-size: 12px;
	margin: 0 0;
	cursor: pointer;
}
.bet_item_round {
	color: white;
	font-size: 24px;
	margin: 0 0;
	cursor: pointer;
}
.amount {
	color: #da5c11;
}

.rounds {
	color:#628a2c;
}

.bet_id {
	font-size: 24pt;
	color:white;
	padding: 10px 20px;
	background-color: #253a4f;
	font-weight: bold;
	height: 20%;
}
.bet_item_submit {
	transform: translateY(-50%);
	border-radius: 20px;
	width: 110px;
	height: 40px;
	color: white;
	background-color: #ff3d3d;
	padding: 8px auto;
	margin: 0;
	border: none;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}
