.Bet {
  text-align: center;
  display: inline-block;
  margin: 8px;
}


.category {
	font-weight: bold;
	margin-top: 8px;
}

.category span {
	display:block;
	font-weight: normal;
	line-height: 9pt;
}