.card {
  text-align: center;
  display: inline-block;
  margin: 8px;
  cursor: pointer;
  transform:scale(1.25);
  mix-blend-mode: multiply;
  transition:.25s;
}

.activeCard {
  text-align: center;
  display: inline-block;
  margin: 8px;
  cursor: pointer;
  transform:scale(1.25);
  mix-blend-mode: multiply;
  transition:.25s;
}

.activeCard:hover {
  filter:hue-rotate(300deg) saturate(170%);
  transform:scale(1.3);
}


.rock {
  transform:scale(1.15);
}

.paper {
  transform:scale(1.15);
  margin-right: 20px;
}

.scissor {}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.gray {
  opacity:.6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
