.figure {
  text-align: center;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  mix-blend-mode: multiply;
  width: 60px;
  height: 40px;
  background-color: #1c252e;
}
.figure_W {
  background-color: #ff3d3d;
}

.activeCard {
  text-align: center;
  display: inline-block;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  mix-blend-mode: multiply;
  width: 160px;
  height: 100px;
  background-color: #1c252e;
}

.card_img {
  width: auto;
  height: 100%;
}

.activeCard:hover {
  transform:scale(1.1);
  background-color: #ff3d3d;
}

.waiting {
  height:120px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
