

.gameInfo {
	text-align: left;
	background: #223241;
	border-radius: 0 0 8px 8px;
	padding: 30px 30px;
	width: 100%;
}

.listItem {
	padding: 2px 30px;
	line-height: 16pt;
	display:inline-block;
	width: 25%;
	vertical-align: top;
}
.list_welcome {
	width: 50%;
	padding: 10px 30px;
}
.list_password {
	width: 50%;
	padding: 10px 30px;
	text-align: right;
}
.listName {
	margin-right: 12px;
	display: block;
	position: relative;
	z-index:10;
}

.listData {
	line-height:16pt;
	color:grey;
}

.listDataPin {
	display: block;
	font-size: 8pt;
	color: grey;
}
.list__reset {
	transform: translateY(-50%);
	width: 30%;
	border-radius: 20px;
	font-weight: bold;;
}