.Payment {
  text-align: center;
  display: inline-block;
  margin: 8px;
  margin-top: 2px;
  width: 100%;
}

.gameLink {
	color:#c3c;
}

.finalBoard {
    border: 5px #ccc;
    border-style: dotted;
    width: 300px;
    margin: auto;
    background: #333;
    margin-top: 12px;
}

.name {
	color:#c36;
}



.mainAccount {
	border: 1px solid #2c2c2c;
    max-width: 300px;
    padding: 6px 2px 8px 2px;
    background-color: #ffcd50;
    color: #322d2a;
    font-weight: bold;
    border-radius: 4px;
    margin: 8px auto;
}

.gameAdvice {
	color:#cb3;
}
.loginAdvice {
	color:#c3b;
}